* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
}

:root{
    font-size: 16px;
}

body {
    background: linear-gradient(172.46deg, #00003E 37.46%, #DC2C75 196.27%);
    background-attachment: fixed;
}   

.background-special{
    background: black;
    @media screen and (min-width: 480px) {
        background: linear-gradient(172.46deg, #00003E 37.46%, #DC2C75 196.27%);
        background-attachment: fixed;
    }
}