/* FOOTER COMPONENTS */
.footer{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.355);
    @media only screen and (min-width:1224px) {
        height: 230px;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }
}

/* contacto y spotify [ BOTONES ]*/
.social-media-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    overflow: -moz-hidden-unscrollable;
    @media only screen and (min-width:1224px){
        flex-direction: row;
        justify-content: flex-start;
    }
    .contact-title{
        padding: 1rem;

        display: flex;
        flex-direction: column;
        font-family:'Oswald', sans-serif;
        font-size: 3rem;
        font-weight: 400;

        line-height: 4.5rem;
        letter-spacing: .5px;
        text-align: center;
        
        text-transform: uppercase;
        color: white;
        @media only screen and (min-width:1224px) {
            line-height: 1.8rem;
            margin: auto 0;
            width: 100px;
            padding: 1rem;
            font-size: 3rem;
            text-orientation: upright;
            writing-mode: sideways-lr;
        }
    }
    .contact-title::after{
        content: attr(data-hover);
        
        width: 100%;
        
        margin: 0 auto;
        
        
        transform: translateY(-10px);
        transition: 1s ease-in-out;
        
        font-size: 16px;
        line-height: 15px;
        font-weight: 300;
        letter-spacing: 2.2px;
        
        color: white;
        @media only screen and (min-width:1224px) {
            margin-left: 1.2rem;
            font-size: 10px;
            line-height: 15px;
            font-weight: 300;
            letter-spacing: 2.2px;
        }
    }
    .contact-rrss-icons{
        text-decoration: none;
        @media only screen and (min-width:1224px){
            display: flex;
            align-items: center;
        }
    }
    .footer-spotify{
        padding: 1rem;
        gap: .5rem;
        display: flex;
        flex-wrap: wrap;
        justify-items: space-around;
        @media only screen and (min-width:1224px) {
            gap: 2rem;
            margin: 0;
            margin-bottom: 2rem;
            padding: 0;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        .spoti-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #25D366;
            @media only screen and (min-width:1224px) {
                color: white;
                margin-left: 2.5rem;
                width: 100px;
                height: 80px;
                gap: 0;
                flex-direction: column;
            }
            &:hover{
                color: #25D366;
            }
            i{
                font-size: 2.5rem;
                padding: 1rem;
                @media only screen and (min-width:1224px){
                    font-size: 5rem;
                    padding: 0;
                }
            }
            h4{
                text-decoration: none;
                font-size: 1rem;
                color: white;
                text-transform: capitalize;
                font-family: 'Oswald', sans-serif;
                font-weight: 400;
                @media only screen and (min-width:1224px){
                    text-align: center;
                    line-height: 1.5rem;
                    font-size: 1.5rem;
                    &:hover{
                        color: #25D366;
                    }
                }
            }
        }
    }
}

.rrss-ico{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 2.5rem;
    @media only screen and (min-width:1224px) {
        margin-top: .2rem;
        gap: .5rem;
        width: 417px;
        align-content: center;
        justify-content: space-evenly;
        font-size: 4rem;
        flex-wrap: nowrap;
    }
    a{
        color: white;
        .fa-whatsapp {
            color:#25D366;
            @media only screen and (min-width:1224px){
                color: white;
                margin-left: 1rem;
            }
            &:hover {
                color:#25D366;
            }
        }
        .fa-bandcamp {
            &:hover {
                background:linear-gradient(120deg, #629aa9, #FFFFFF);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .fa-instagram{
            &:hover{
                background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;	                    
            }
        }
        .fa-at{
            &:hover {
                background:linear-gradient(90deg, #dd4b39, #ffffff);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

    }
}