/* NAVBAR */
.navbar-page {
    z-index: 99;
    position: fixed;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (min-width: 1224px){
        width: 100%;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.381);

    }
    .bg-lines-top{
        display: none;
        @media only screen and (min-width: 1224px){
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            opacity: .6;
            animation: blurImg 3s infinite;
            filter: blur(.5px);
        }
    }
    .header-title{
        width: 400px;
        font-family: 'Oswald', sans-serif;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 3rem;
        
        text-transform: uppercase;
        text-decoration: none;
        
        color:white;
        transform: skewY(0);
        transition: .8s ease-in-out;
        @media only screen and (min-width:1224px){
            font-size: 4rem;
            line-height: 3.5rem;
        }
        &:hover {
            transform: scale(1.015) skew(-1deg);
            transition: .2s ease-in-out;
            background: url("https://media2.giphy.com/media/3o7bu9zwfieCd1R9HG/200w.webp?cid=ecf05e47lc1ym2v383dmw8pezn9b59sf6mpeyn3eu1qgbv7l&rid=200w.webp&ct=g");
            background-size: cover;
            background-position: center;
            background-clip: text;
            -webkit-background-clip: text;
            color: #31085747;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
    .header-btn-container{
        z-index: 10;
        
        width: 8.5rem;
        height: 80px;
        
        position: fixed;
    
        margin-top: 0.2rem;
        padding: 1rem;
        
        right: 0;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        font-size: 2.5rem;
        gap: 1rem;    

        transition: .2s ease-out;
        @media only screen and (min-width: 1224px){
            display: none;
        }
        .header-wsp-ico{
            color:#faf8f8;
            &:hover{
                color: #25D366;
            }
        }
        .nav-btn-toggler{
            padding-bottom: 2.5px;
            color:#faf8f8;
            cursor: pointer;
            &:hover{
                color: #faf8f8;
            }
        }
    }
    .header-btn-container-open {
        margin-top: 0;
        font-size: 3rem;
        width: 100%;
        justify-content: space-evenly;
        transition: .2s ease-in;
    }
}
/* NAVBAR DESKTOP */
.navbar-pages-desktop{
    display: none;
    @media only screen and (min-width:1224px){
        width: 100%;
        z-index: 10;
        align-self: center;
        justify-self: start;

        display: flex;
        justify-content: center;
        gap: 1rem; 
        .li-links {
            height: 100%;

            display: flex;

            list-style-type: none;
            
            line-height: 1rem;
            letter-spacing: 1px;

            .link {
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;

                position: relative;
                height: 50px;
                color: white;
                text-decoration: none;

                display: flex;
                flex-direction: column;

                width: max-content;
                font-size: 1.7rem;

                justify-content: space-around;
                align-items: center;
                text-align: center;
                /* link sessiones */
                transition: .1s;
                &:hover {
                    margin: 0 1rem;
                    z-index: 10;
                    transform: scale(1.5);
                    font-weight: 600;
                    background: url("https://media2.giphy.com/media/3o7bu9zwfieCd1R9HG/200w.webp?cid=ecf05e47lc1ym2v383dmw8pezn9b59sf6mpeyn3eu1qgbv7l&rid=200w.webp&ct=g");
                    background-size: cover;
                    background-position: center;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: #31085747;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    text-decoration: overline;
                    text-decoration-style: solid;
                    text-decoration-color: white;
                }
            }
            .link::after {
                content: attr(data-hover);
                position: absolute;
                
                width: 100%;
                
                top:60%;
                left: 0.1rem;
                
                opacity: 0;
                visibility: hidden;
                
                transform: translateY(-10px);
                transition: 1s ease-in-out;
                
                font-size: 15px;
                line-height: 15px;
                font-weight: 200;
                text-align: center;
                letter-spacing: 3px;
                
                color: white;
                transition: .2s;
            }
            .link:hover::after{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
            .color-red{
                color: red;
            }
        }
    }
}

/*  MENU DE NAVEGACION COLAPSABLE VISTA => MOVIL  */
.nav-collapsible-close {
    position: fixed;
    
    padding: 1rem;
    padding-top: 5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 9;
    
    height: 100%;
    width: 100%;
    
    top: 0;
    left: 0;
    
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    
    transform: translateX(-100vw);
    transition: .35s ease-in-out;
    
    color:white;

    backdrop-filter: blur(4px);
    background: url("https://media2.giphy.com/media/3o7bu9zwfieCd1R9HG/200w.webp?cid=ecf05e47lc1ym2v383dmw8pezn9b59sf6mpeyn3eu1qgbv7l&rid=200w.webp&ct=g");
    background-size: cover;
    opacity: 0;
    .line{
        margin: .2rem 0;
        opacity: .1;
        color:white;
    }
    .nav-links{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        list-style-type: none;
        line-height: 1.4rem;
        li{
            margin: .6rem 0;
            @media (orientation: landscape) {
                margin: .6rem 0;
            }
            a{ 
                cursor: pointer;
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                &:hover {
                    color: red;
                }
            }
        }
    }

} 
/* CLASES DINAMICAS TOGGLE */
.nav-collapsible-open{
    transform: translateX(0);
    transition: transform .3s ease-in-out, backdrop-filter .5s ease-in .1s, background-color .5s ease-in .1s;
    backdrop-filter: blur(4px);
    background: url("https://media2.giphy.com/media/3o7bu9zwfieCd1R9HG/200w.webp?cid=ecf05e47lc1ym2v383dmw8pezn9b59sf6mpeyn3eu1qgbv7l&rid=200w.webp&ct=g");
    background-size: cover;
    opacity: 1;
}
.header-btn-container-open {
    margin-top: 0;
    font-size: 3rem;
    width: 100%;
    justify-content: space-evenly;
    transition: .2s ease-in;
}

/* Class para links del menu colapsado */
.index{
    justify-self: center;
    margin: auto!important;
    gap: .5rem;
    li{
        text-align: center;
        a{
            color: black!important;
            font-size: 3.5rem;
        }
    }
}

.header-non-fixed{
    position: relative;
}

.display-none{
    display: none;
}