.nav {
    padding: .5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    .nav-collapsible-close {
        position: fixed;
        
        padding: 1rem;
        padding-top: 8rem;
        
        z-index: 9;
    
        height: 100vh;
        width: 100vw;
        
        top: 0;
        left: 0;
        
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        
        transform: translateX(-100vw);
        transition: .35s ease-in-out;
        
        color:white;
        background-color: rgba(255, 255, 255, 0);
        .line{
            margin-top: .6rem;
            color:white;
        }
        .nav-links{
            margin-top: .2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
    
            list-style-type: none;
            line-height: 1.8rem;
            li{
                margin: 1.2rem 0;
                a{ 
                    cursor: pointer;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: white;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    } 
    .header-title{
        z-index: 10;
        margin-top: 1rem;
        font-family: 'Oswald', sans-serif;
        font-size: 3.2em;
        font-weight: 500;
        
        line-height: 2.8rem;
        text-transform: uppercase;
        text-decoration: none;
        
        color:white;
        transform: skewY(0);
        transition: .5s ease-in;
    }
    .header-btn-container{
        z-index: 10;
        position: fixed;
    
        margin-top: 1rem;
        padding: 1rem;
        
        right: 0;
    
        width: 8.5rem;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2.5rem;
        gap: 1rem;    
        
        transition: .2s ease-out;
        .header-wsp-ico{
            color: white;
            &:hover{
                color: red;
            }
        }
        .nav-btn-toggler{
            padding-bottom: 2.5px;
            color: white;
            cursor: pointer;
            &:hover{
                color:red;
            }
        }
    }
    /* CLASES DINAMICAS TOGGLE */
    .nav-collapsible-open{   
        transform: translateX(0);
        transition: transform .3s ease-in-out, backdrop-filter .5s ease-in .1s, background-color .5s ease-in .1s;
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, .60);
    }
    .header-title-dark{
        transform: skewY(3deg);
        color:rgba(255, 255, 255, 0.644);
        transition: .5s ease-in .1s;
        filter: blur(4px);
    }
    .header-btn-container-open {
        font-size: 3rem;
        width: 100vw;
        justify-content: space-evenly;
        transition: .2s ease-in;
    }
}

