.pages-main{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: .3rem;
    margin-bottom: 3rem;
    .marquee-container {
        position: relative;
        margin: 1rem 0;
        .marquee-img{
            width: 65%;
        }
        .marquee-title-container{
            position: absolute;
            top: .6rem;
            left: .5rem;

            font-family:'Oswald', sans-serif;
            
            letter-spacing: .1rem;
            text-transform: uppercase;
            
            color: white;
            .marquee-title{
                font-weight: 500;
                font-size: 3rem;
                line-height: 2.5rem;
            }
            .marquee-subtitle{
                font-weight: 500;
                font-size: 1rem;
                text-align: justify;
                letter-spacing: .2rem;
            }
        }
        .title-doscaras{
            top: 0.2rem !important;
        }
    }
    .description-text-container{
        width: 360px;
        padding: 2rem;
        
        display: flex;
        justify-content: center;

        color:white;
        .text-paragraph{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 1rem;

            font-family: 'Martel', serif;
            font-weight: 600;
            font-size: 1rem;
            p{ 
                margin: .5rem 0;
                line-height: 1.5rem;
            }
            .semillero-reggae-text-bio{
                display: flex;
                flex-direction: column;
                .semillero-reggae-text-bio-title{
                    color: white;
                }
            }
        }
        .rrss-icons{
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;
            gap: 2rem;
            a{
                color: white;
                font-size: 2rem;
                .fa-spotify {
                    &:hover {
                        color: #25D366;
                    }
                }
                .fa-instagram{
                    &:hover{
                        color: #E1306C;
                    }
                }
                .fa-youtube{
                    &:hover {
                        color: #FF0000;
                    }
                }
            }
        }
    }
}